<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Upload video
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <video *ngIf="isVideoUploaded && !isProcessingVideo" controls preload="none" [poster]="urlThumbnail" vertical="top" horizontal="center" slot="fixed" style="width:100%">
    <source [src]="urlVideo" type="video/mp4">
  </video>

  <div id="container">
    <ion-fab *ngIf="!isProcessingVideo" vertical="center" horizontal="center" slot="fixed">
      <ion-fab-button (click)="uploadVideo()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
